body {
  color: #4a4a4a;
  background-color: #f5f7fa;
}

.container {
  padding: 10rem 3.2rem;
  height: 100vh;
  background-color: #e6edf6;
}

/* Forms styling */
.signup-form,
.login-form {
  margin: 0 auto;
  max-width: 50rem;
  background-color: #fff;
  padding: 4rem 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Labels styling */
.label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6a6f85;
}

/* Form inputs styling */
.form-input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  margin-top: 1.2rem;
  border: none;
  width: 100%;
  background-color: #eef2f9;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
}
.form-input:focus {
  outline: none;
  background-color: #e3e8f1;
  border-bottom: 2px solid #5b77bd;
}
.form-input::placeholder {
  color: #a0a4b8;
}

/* Submit button styling */
.submit-btn {
  color: #fff;
  background-color: #5b77bd;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 9px;
  margin-bottom: 4.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #526baa;
}
.submit-btn:active {
  background-color: #495f97;
}

/**************************/
/* Span element styling */
/**************************/
span {
  font-size: 1.5rem;
}

/* Link styling */
a:link,
a:visited {
  color: #5b77bd;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #4a67a3;
}
a:active {
  color: #3d5988;
}
